In [1]:
# Module 16 - Big Data (Deliverable 2 - Pandas Analysis)
# Import Pandas dependency
import pandas as pd

In [2]:
# Load Vine CSV file
vine_data_to_load = "Resources/Vine_table.csv"

In [3]:
# Read in the Vine csv file as a DataFrame, remove index, then preview
vine_df = pd.read_csv(vine_data_to_load, index_col=False)
vine_df.set_index('review_id', inplace=True)
vine_df.head()

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RDIJS7QYB6XNR           5.0            0.0          0.0    N                 Y
R36ED1U38IELG8          5.0            0.0          0.0    N                 Y
R1UE3RPRGCOLD           2.0            1.0          1.0    N                 Y
R298788GS6I901          5.0            0.0          0.0    N                 Y
RNX4EXOBBPN5            1.0            1.0          1.0    N                 Y

In [4]:
# 1. Create a DataFrame where total_votes is greater than or equal to 20
total_votes_filtered_df = vine_df.loc[vine_df['total_votes'] >= 20]
total_votes_filtered_df.sample(n=7)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R3CESB90IKER2Y          4.0           41.0         42.0    N                 N
R1B40PWYYK38MU          5.0           33.0         38.0    N                 N
RITFEJ90FYBNM           3.0           26.0         28.0    N                 N
RO6D7WR6OQOID           2.0           27.0         29.0    N                 Y
R2VO02YF79D62I          3.0           33.0         33.0    N                 N
RC4DREH67QTM8           1.0           22.0         26.0    N                 Y
R2M52KIK3J06UR          2.0            2.0         37.0    N                 N

In [5]:
# 2. Create a DataFrame from total_votes_filtered_df where helpful_votes/total_votes is >= 50%
helpful_by_total_df = total_votes_filtered_df[total_votes_filtered_df['helpful_votes']/total_votes_filtered_df['total_votes'] >= 0.5]
helpful_by_total_df.sample(n=7)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RQLRTKQ45LBL3           5.0          115.0        127.0    N                 Y
R29AWZ1E4I168D          1.0           87.0        120.0    N                 Y
R19M1WCZ8XK5ED          5.0           25.0         26.0    N                 Y
R1OOH59FTRNGD0          4.0           19.0         21.0    N                 Y
R2ED6IWRRL5VKP          5.0           21.0         23.0    N                 Y
R369Y8HR9D43RX          2.0           24.0         27.0    N                 Y
R3NT9UTWS1XEQM          5.0           53.0         53.0    N                 Y

In [6]:
# 3. Create a DataFrame from helpful_by_total_df where a review was part of Vine
vine_yes_df = helpful_by_total_df.loc[helpful_by_total_df['vine'] == 'Y']
vine_yes_df.sample(n=7)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RQQNHR0B5F1C7           5.0           48.0         50.0    Y                 N
R19AVR10A8A8UN          4.0           33.0         37.0    Y                 N
R15B4U5R780R3F          3.0           27.0         33.0    Y                 N
R37RLR5VDNVDS1          3.0           25.0         25.0    Y                 N
RU3DX1NIISVEE           5.0           96.0        100.0    Y                 N
R2OL9HEA697E1A          5.0          525.0        556.0    Y                 N
RO1VVU95CT1CP           4.0           48.0         54.0    Y                 N

In [7]:
# 4. Create a DataFrame from helpful_by_total_df where a review was NOT part of Vine
vine_no_df = helpful_by_total_df.loc[helpful_by_total_df['vine'] == 'N']
vine_no_df.sample(n=7)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RTZOHAVU4BWNJ           4.0           18.0         21.0    N                 N
R1522L4W5J1KCO          5.0           19.0         27.0    N                 Y
RP6BI26A6KVE            2.0           35.0         50.0    N                 Y
RMB0OWQFJEDE1           3.0           21.0         23.0    N                 Y
R1Z9IW3LN187DC          3.0           76.0         84.0    N                 N
R92OO1RMB9AS9           5.0           20.0         24.0    N                 Y
ROUIUQGH7EUSA           5.0           29.0         31.0    N                 Y

In [8]:
# Total number of Vine reviews
total_vine_reviews = vine_yes_df['vine'].count()
print(total_vine_reviews)

1266

In [9]:
# Total number of non-Vine reviews
total_nonvine_reviews = vine_no_df['vine'].count()
print(total_nonvine_reviews)

62028

In [10]:
# Number of 5-star Vine reviews
vine_5star_df = vine_yes_df.loc[vine_yes_df['star_rating'] == 5.0]
total_vine_5star = vine_5star_df['star_rating'].count()
print(total_vine_5star)

432

In [11]:
# Number of 5-star non-Vine reviews
# Number of 5-star Vine reviews
nonvine_5star_df = vine_no_df.loc[vine_no_df['star_rating'] == 5.0]
total_nonvine_5star = nonvine_5star_df['star_rating'].count()
print(total_nonvine_5star)

29982

In [12]:
# Percentage of 5-star Vine reviews
percent_5star_vine = (total_vine_5star/total_vine_reviews)*100
print(percent_5star_vine)

34.12322274881517

In [13]:
# Percentage of 5-star non-Vine reviews
percent_5star_nonvine = (total_nonvine_5star/total_nonvine_reviews)*100
print(percent_5star_nonvine)

48.33623524859741

In [24]:
# Print summary statement
Summary_statement = (f'Total Number of Vine Reviews: {total_vine_reviews}\n'
                     f'Total Number of Non-Vine Reviews: {total_nonvine_reviews}\n'
                     f'Total Number of Vine 5-Star Reviews: {total_vine_5star}\n'
                     f'Total Number of Non-Vine 5-Star Reviews: {total_nonvine_5star}\n'
                     f'Percentage of 5-Star Vine Reviews: {percent_5star_vine:.2f}\n'
                     f'Percentage of 5-Star Non-Vine Reviews: {percent_5star_nonvine:.2f}\n')

print(Summary_statement)

Total Number of Vine Reviews: 1266
Total Number of Non-Vine Reviews: 62028
Total Number of Vine 5-Star Reviews: 432
Total Number of Non-Vine 5-Star Reviews: 29982
Percentage of 5-Star Vine Reviews: 34.12
Percentage of 5-Star Non-Vine Reviews: 48.34